<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= link_to 'All articles', posts_path%>

  	<%= link_to 'New article', new_post_path%>


    <% if user_signed_in? %>
      <%= link_to "Exit", destroy_user_session_path, method: :delete %>

    <% else %>
    <%= link_to 'Login', new_user_session_path %>

    <%= link_to 'Registration', new_user_registration_path %>
    <% end %>
    
  	<div>
  		<% flash.each do |name, message| %>
  		<div class="alert <%= b_class_for(name) %>">
        <button class="close" data-dismiss="alert">&times;</button>
  			<%= message %>
  		</div>
  		<% end %>
  	</div>

    <div>
      <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4}) do |tag| %>
        <%= link_to tag.name, tag_path(tag.name) %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
